{deps,
 [
  {n2o,  ".*", {git, "git://github.com/5HT/n2o", {tag, "2.1"}}},
  {kvs,  ".*", {git, "git://github.com/synrc/kvs"}},
  {rest, ".*", {git, "git://github.com/synrc/rest"}},
  {sync, ".*", {git, "git://github.com/rustyio/sync"}}
 ]
}.

{erlydtl_opts, [
    {doc_root,   "priv/templates"},
    {out_dir,    "ebin"},
    {compiler_options, [report, return, debug_info]},
    {source_ext, ".html"},
    {module_ext, "_view"}
]}.

{xref_warnings, true}.

{dialyzer,
 [
  {plt_extra_apps, [diameter]},
  {warnings,
   [
    unmatched_returns,
    error_handling,
    race_conditions
   ]}
 ]}.
