{lib_dir, "deps"}.

{deps,
 [
  {n2o,  ".*", {git, "git://github.com/5HT/n2o", {tag, "2.8"}}},
  {kvs,  ".*", {git, "git://github.com/synrc/kvs"}},
  {rest, ".*", {git, "git://github.com/synrc/rest"}},
  {sync, ".*", {git, "git://github.com/rustyio/sync"}},
  {erlydtl, ".*", {git, "git://github.com/erlydtl/erlydtl", {tag, "0.11.1"}}},
  {mad, ".*", {git, "git://github.com/synrc/mad"}}
 ]
}.

{erlydtl_opts, [
    {doc_root,   "priv/templates"},
    {out_dir,    "ebin"},
    {compiler_options, [report, return, debug_info]},
    {source_ext, ".html"},
    {module_ext, "_view"}
]}.
