{lib_dir, "deps"}.

{deps,
 [
  {n2o,  ".*", {git, "git://github.com/5HT/n2o", {tag, "3.4"}}},
  {kvs,  ".*", {git, "git://github.com/synrc/kvs"}},
  {rest, ".*", {git, "git://github.com/synrc/rest"}},
  {async, ".*", {git, "git://github.com/platinumthinker/async"}},
  {erlydtl, ".*", {git, "git://github.com/erlydtl/erlydtl", {branch, "master"}}}
 ]
}.

{plugins,
 [
  {rebar3_erlydtl_plugin, ".*",
   {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
 ]
}.

{provider_hooks,
 [
  {pre,  [{compile, {erlydtl, compile}}]}
 ]}.

{erlydtl_opts,
 [
    % {doc_root,   "priv/templates"},
    % {out_dir,    "ebin"},
    {compiler_options, [return, verbose, {auto_escape, false}]},
    {source_ext, ".html"},
    {module_ext, "_view"}
 ]
}.

{relx,
 [
  {release, {thinker_home, "0.0.1"},
   [
    thinker_home,
    inets,
    async,
    debugger,
    runtime_tools,
    wx
   ]},
  {include_erts, false},
  {extended_start_script, true},
  {dev_mode, true}
 ]
}.
