[
 {sync, [{sync_mode, nitrogen}]},
 {n2o,
  [
   {port, 8000},
   % {transition_port, 8080},
   {app, thinker_home},
   {route, routes},
   {log_modules, config},
   {log_level, config},
   {log_backend, n2o_log},
   {event, pickle}
  ]
 },
 {kvs,
  [
   {dba, store_mnesia},
   {schema, [kvs_user, kvs_acl, kvs_feed, kvs_subscription]}
  ]
 }
].
